.button:hover{
    background-color: #e6e6e6;
    border-color: #a6a6a6;
}

.button {
    background-color: white;
    border-color: black;
    border-radius: 3px;
    border: 1px solid black; 
    width: 160px;
    height: 40px;
    margin: 3px;
}

.centerblock{
    padding-top: 10px;
    width: 600px;
    margin: auto;
    margin-top: 30px;
}

.submit{    
    height:35px;
    width: 100px;
}

.error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.result{
    width: 300px;
    padding: 15px;

    margin: 30px auto 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    display: block;
}

.playerItem{
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 2px;
    padding-left: 20px;
}