
@font-face{
    font-family: 'title';
    src: url('bebasreg.otf'); /* IE9 Compat Modes */
  src: url('bebasreg.otf') format('opentype'), /* IE6-IE8 */
       url('bebasreg.otf') format('opentype'), /* Super Modern Browsers */
       url('bebasreg.otf') format('opentype'), /* Pretty Modern Browsers */
       url('bebasreg.otf')  format('opentype'), /* Safari, Android, iOS */
       url('bebasreg.otf') format('opentype'); /* Legacy iOS */
}

            canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
            
.centerform{
    width:240px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.shadow{
    box-shadow: 0 0 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.24);
    transition: all .3s;
}

.shadow:hover{
    box-shadow: 0 0 8px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.24);
}

.button{
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 40px;
    box-sizing:border-box;
    min-width: 240px;
    text-transform: uppercase;
}

.button.button-primary{
    background-color: #1E88E5;
    color: #fff;
    border: 1px solid #1E88E5;
}
.button.button-primary:hover{
    background-color: #2196F3;
    border: 1px solid #2196F3;
}
.button.button-secondary{
        color: #90A4AE;
        border: 1px solid #ECEFF1;
}
.button.button-secondary:hover{
        border: 1px solid #2196F3;
        color: #2196F3;
}


.centerblock{
    padding-top: 10px;
    width: 900px;
    margin: auto;
    margin-top: 30px;
}

.submit{    
    height:35px;
    width: 100px;
}

.error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.result{
    width: 300px;
    padding: 15px;

    margin: 30px auto 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    display: block;
}

.playerItem{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid transparent;
    padding-top: 3px;
    border-radius: 2px;
    padding-left: 20px;
    width: 200px;
}